@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --color-jushi-red: #e11d48;
  --color-jushi-dark: #0f172a;
  --color-jushi-bg: #f8fafc;
  
  --font-display: "Space Grotesk", sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans;
  }
}

.jushi-header-text {
  @apply font-black uppercase tracking-tighter italic;
}
